[submodule "frontend"]
	path = frontend
	url = https://github.com/bawsi99/stockanalyzerpro_frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/bawsi99/stockanalyzerpro_backend.git
	branch = main
